html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body, #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1;
  margin-top: 70px; /* spazio per la navbar fissa */
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

/* NAVBAR  */

.navbar {
  width: 100vw;
  background-color: #26282e;
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.nav {
  width: 100%;
}

/* HOME  */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

/* FOOTER  */

.footer {
  width: 100%;
  background-color: #26282e;
  color: #fff;
  text-align: center;
}

/* STILIZZAZIONE TABELLA  */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 1rem;
  table-layout: fixed;
  border: 1px solid #ddd;
  border-radius: 8px;
}

tr , th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

thead {
  background-color: #26282e;
  color: greenyellow;
}

/* SEZIONE INPUT PER NOME E CATEGORIA */

.search-name-input {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.search-and-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between
}

.search-category-select {
  width: 100%;
  max-width: 200px;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* PAGINA DETTAGLIO GIOCO */


.game-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem; /* spazio tra i figli */
}

.game-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  text-align: left;
}
.game-details img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  aspect-ratio: 1 / 1;
}